<ion-header>
  <ion-toolbar class="ion-margin-top">
    <ion-searchbar placeholder="Tìm kiếm"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Tập luyện</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2 class="ion-margin-bottom">Tập nhiều nhất</h2>
        <ion-segment scrollable>
          <ion-segment-button *ngFor="let category of listExercise">
            <ion-card
              class="ion-no-margin custom-card"
              *ngIf="category.exercises.length > 0"
            >
              <img [src]="category.exercises[0].hinhAnh" class="card-image" />
              <ion-card-header class="ion-align-items-start ion-no-padding">
                <ion-card-title class="card-title"
                  >{{category.exercises[0].ten}}</ion-card-title
                >
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-row class="ion-justify-content-between">
                  <p class="card-description">
                    Đốt cháy {{category.exercises[0].calo}} calo
                  </p>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-segment-button>
        </ion-segment>
        <h2 class="ion-margin-top ion-margin-bottom">Danh mục</h2>
        <ion-row>
          <ion-col
            size="6"
            size-md="4"
            size-lg="3"
            *ngFor="let category of listExercise"
            [routerLink]="['/list-exercise', category.id]"
          >
            <ion-card
              class="ion-no-margin custom-card"
              [style.background-color]="getRandomColor()"
            >
              <ion-card-header class="ion-align-items-center ion-no-padding">
                <p class="card-description">{{category.theLoai}}</p>
                <ion-card-subtitle class="subtitle"
                  >{{category.tenDanhMuc}}</ion-card-subtitle
                >
                <ion-card-title class="card-title"
                  >Hiện có {{category.exercises.length}} bài tập</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
