
<ion-header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="dropdown-menu"></ion-menu-button>
    </ion-buttons>
    Dinh Dưỡng
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-searchbar placeholder="Tìm kiếm"></ion-searchbar>
<h1>Dinh Dưỡng</h1>
<ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterFoodItems()">
  <ion-segment-button value="">
    ALL
  </ion-segment-button>
  <ion-segment-button value="Khai vị">
    Khai vị
  </ion-segment-button>
  <ion-segment-button value="Món chay">
    Món chay
  </ion-segment-button>
  <ion-segment-button value="Mặn">
    Món mặn
  </ion-segment-button>
  <ion-segment-button value="Eat-clean">
    Eat-clean
  </ion-segment-button>
</ion-segment>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable>
          <ion-segment-button *ngFor="let foodItem of filteredFoodItems; let i = index" value="{{ foodItem.id }}" [routerLink]="['/food-details', foodItem.id]">
            <ion-card>
              <img [src]="'assets/images/' + foodItem.image">
              <ion-card-header class="ion-align-items-start">
                <ion-card-subtitle>{{ foodItem.name }}</ion-card-subtitle>
                <div class="square-container">
                  <p>{{ foodItem.calories }}</p>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <h1>Nổi Bật</h1>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable>
          <ion-segment-button *ngFor="let foodItem of featuredFoodItems; let i = index" value="{{ foodItem.id }}" [routerLink]="['/food-details', foodItem.id]">
            <ion-card>
              <img [src]="'assets/images/' + foodItem.image">
              <ion-card-header class="ion-align-items-start">
                <ion-card-subtitle>{{ foodItem.name }} </ion-card-subtitle>
                <div class="square-container">
                  <p>{{ foodItem.calories }}</p>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1>Thức ăn cần tránh</h1>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable>
          <ion-segment-button *ngFor="let foodItem of avoidFoodItems; let i = index" value="{{ foodItem.id }}" [routerLink]="['/food-details', foodItem.id]">
            <ion-card>
              <img [src]="'assets/images/' + foodItem.image">
              <ion-card-header class="ion-align-items-start">
                <ion-card-subtitle>{{ foodItem.name }}</ion-card-subtitle>
                <div class="square-container">
                  <p>{{ foodItem.calories }}</p>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>