<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs *ngIf="showTabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <img src="../assets/icon/home.png" alt="home" />
      </ion-tab-button>

      <ion-tab-button tab="exercise">
        <img src="../assets/icon/sound.png" alt="exercise" />
      </ion-tab-button>

      <ion-tab-button tab="category-food">
        <img src="../assets/icon/3dcube.png" alt="category-food" />
      </ion-tab-button>

      <ion-tab-button tab="diet">
        <img src="../assets/icon/drop-fill.png" alt="diet" />
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <img src="../assets/icon/user.png" alt="user" />
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-tabs *ngIf="!showTabs"> </ion-tabs>
</ion-app>
