<ion-content [fullscreen]="true">

  <!-- Header -->
  <div class="header-label">
    <ion-label>
      <h1>Chế độ</h1>
      <p>Tự xây dựng chế độ cho bản thân</p>
    </ion-label>
  </div>s

  <!-- Biểu đồ Calories -->
  <div align="center">
    <swiper-container #swiper_chart (slidechangetransitionend)="slideChartChanged()" [allowTouchMove]="false">
      <!-- Biểu đồ Calories Đã nạp -->
      <swiper-slide>
        <div class="calories-info" id="charged">
          <div>
            <p>Cần nạp thêm</p>
            <strong>{{(2000 > getChargedCalorie())?2000-getChargedCalorie():0}}</strong>
            <p>Calories</p>
          </div>
        </div>
      </swiper-slide>

      <!-- Biểu đồ Calories Đã đốt -->
      <swiper-slide>
        <div class="calories-info" id="burned">
          <div>
            <p>Cần đốt đi</p>
            <strong>{{(getBurnedCalorie() < getChargedCalorie())?(getChargedCalorie()-getBurnedCalorie()):0}} </strong>
                <p>Calories</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <!-- 
    <svg width="207" height="207">
     
      <circle class="circle-chart" cx="50" cy="50" r="40" fill="none" stroke="#558EC5" stroke-width="5"
        [style.stroke-dasharray]="calculateDashArray(value)" transform="rotate(-90, 50, 50)"></circle>
    </svg> -->


    <ion-row class="ion-align-items-center">
      <ion-col size="4"><span class="recharged"></span>Đã nạp: {{this.getChargedCalorie()}}</ion-col>
      <ion-col size="4"><span class="burned"></span>Đã đốt: {{this.getBurnedCalorie()}}</ion-col>
      <ion-col size="4"><span class="required"></span>Cần nạp: {{(2000 >
        getChargedCalorie())?2000-getChargedCalorie():0}}</ion-col>
    </ion-row>
  </div>

  <!-- Segment Dinh dưỡng/Tập Luyện -->
  <ion-segment #segment_button (ionChange)="segmentChanged($event)" [(ngModel)]="current_segment_value" color="dark"
    value="0">
    <ion-segment-button value="0">
      Dinh dưỡng
    </ion-segment-button>
    <ion-segment-button value="1">
      Tập luyện
    </ion-segment-button>
  </ion-segment>

  <ion-content>



    <swiper-container #swiper_list class="swiper" (slidechangetransitionend)="slideListChanged()"
      [allowTouchMove]="false">

      <!-- List món ăn -->
      <swiper-slide>
        <ion-list>
          <ion-item-sliding *ngFor="let item of foodList">
            <ion-item lines="none">
              <img [src]="item.image" alt="">
              <ion-label class="card-label">
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
              </ion-label>
              <ion-label slot="end">
                <h2 id="food">+ {{item.calorie}}</h2>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="remove(item)" color="dark">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </swiper-slide>

      <!-- List Bài tập -->
      <swiper-slide>
        <ion-list>
          <ion-item-sliding *ngFor="let item of exerciseList">
            <ion-item lines="none">
              <img [src]="item.image" alt="">
              <ion-label class="card-label">
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
              </ion-label>
              <ion-label slot="end">
                <h2 id="exercise">- {{item.calorie}}</h2>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="remove(item)" color="dark">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </swiper-slide>
    </swiper-container>



  </ion-content>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-searchbar (ionInput)="handleInput($event)" placeholder="Tìm kiếm"></ion-searchbar>

      <ion-content>

        <ion-scroll>
          <ion-item button (click)="add(item)" *ngFor="let item of caloriesList" lines="none">
            <img [src]="item.image" alt="{{item.name}}">
            <ion-label class="card-label">
              <h3>{{item.name}}</h3>
              <p>{{item.description}}</p>
            </ion-label>
            <ion-label slot="end">
              <h2 [id]="item.isDish?'food':'exercise'"> {{item.isDish?'+':'-'}} {{item.calorie}}</h2>
            </ion-label>
          </ion-item>
        </ion-scroll>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>