.bmi-content {
    margin: 24px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.09);
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.bmi-number {
    margin: 1px 4px;
    padding: 8px 18px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
}

ion-input.bmi-input {
    --background: #f5f5f5;

    --padding-bottom: 8px;
    --padding-top: 8px;
    --padding-start: 12px;
    box-sizing: border-box;
    width: 180px;
    margin: 0px;

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    border-radius: 6px;

}

ion-input.status-input {


    --padding-bottom: 8px;
    --padding-top: 8px;
    --padding-start: 12px;
    box-sizing: border-box;
    width: 180px;
    margin: 0px;

    font-weight: 400;
    font-size: 12px;
    border: 1px solid #f5f5f5;
    line-height: 20px;
    border-radius: 6px;

}


h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

}

h2.bmi-label {
    width: 90px;
}

h2.status-label {
    width: 154px;
}

p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #959595;
}

hr.dashed {
    border-top: 1px dashed #d9d9d9;
}