<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Trang chủ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-">
    <h1 size="large">Nutrition Plan</h1>
  </div>
  <!-- Nội dung home -->
  <div class="ion-text">
    <h2 size="large">Nổi bật</h2>
  </div>

  <div class="ion-text">
    <h2 size="large">Dinh dưỡng</h2>
  </div>

  <div class="ion-text">
    <h2 size="large">Tập luyện</h2>
  </div>
</ion-content>
